html, body{
	margin: 0;
	padding:0;
	font-style: normal;
}
.hidden{
opacity:0;
}
.visible{
opacity:1;
}
.wrapper{
	font-family: 'Lato', sans-serif;
	color: rgba(254,254,255,0.8);
}
.header{
	display: block;
	min-height: 615px;
	background: url(../images/header_back.jpg);
	max-width: 1900px;
	margin: 0 auto;
	min-width: 590px;
}
.grey_strip{
	display: block;
	max-width: 1900px;
	margin: 0 auto;
	background: rgba(88,86,86,0.6);
	height: 70px;
	padding: 10px 0 ;
	position: fixed;
	width: 100%;
}
.wrap_grey{
	max-width: 1172px;
	margin: 0 auto;
}
.header_container{
	max-width: 1172px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	padding-top: 23px;
}
.logo{
	background: url(../images/logo.png);
	display: block;
	width: 93px;
	height: 71px;
	float: left;
}
.menu{
	float: right;
	text-transform: uppercase;
	font-weight: bold;
	position: relative;
	z-index: 100;

}
.menu li{
	display: inline-block;
	padding: 4px;
	border: 1px solid #727272;
	border-radius: 4px;
}
.menu a{
	text-decoration: none;
	color: rgba(254,254,255,0.8);
	padding: 0 22px
}
.language{
	float: right;
	margin-top: 17px;
	border:  1px solid #727272;
	border-radius: 4px;
	position: relative;
	z-index: 101;

}
.dropdown li{ 
	position: relative; 

}
.dropdown, .dropdown-inside {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
select{
	width: 255px;
	height: 50px;
	font-size: 20px;
	text-align: center;
}
 .dropdown-inside {
	 position: absolute;
	 left: -9999px;
}
 ul.dropdown li.dropdown-top {
 display: inline;
 float: left;
 margin: 0 1px 0 0;
 }
 ul.dropdown li.dropdown-top a {
 padding: 3px 10px 4px;
 display: block;
 }
 ul.dropdown li.dropdown-top:hover .dropdown-inside {
 display: block;
left: 0px;
 }
 ul.dropdown .dropdown-inside { background: #fff; }
 ul.dropdown .dropdown-inside a:hover { background: #efefef; }
.dropdown-top a{
	text-decoration: none;
	color: rgba(254,254,255,0.8);
}
.dropdown-inside a{
	color: #000;
	display: block;
	width: 70px;
	font-size: 12px;
}
.header_text{
	clear: both;
	text-align: center;
	padding: 90px 0 50px;
	font-size: 36px;
	font-weight: 300;
}
.wrapper_form{
	display: block;
	width: 600px;
	height: 232px;
	margin: 0 auto 50px;
	background: rgba(254,254,255,0.2);
	border-radius: 3px;
	padding: 34px 0 15px 0;
	font-size: 26px;
}
input[type=text]{
   width:170px;
   height: 44px;
   text-align: right;
   font-size: 25px;
   border-radius: 3px;
}
.first_row{
	width: 600px;
	margin: 0 auto;
}
.first_column{
	float: left;
	padding-top: 5px;
	width: 140px;
	text-align: right;
	margin:0; 
	padding-right: 15px;
}
.second_column{
	float: left;
	margin:0; 
}
.third_column{
	float: left;
	margin-left: 3px;
}
.second_row{
	font-size: 13px;
	padding: 8px 0 8px 0;
	clear: both; 
}
.second_row_one{
	float: left;
	padding-left: 157px;
	font-size: 13px;
}
.second_row_two{
	float: right;
	font-size: 13px;
}
.second_row_two li{
	position: relative;
}
.dropdown_first a{
	text-decoration: none;
	display: block;
	width: 100px;
	font-size: 15px;
	height: 30px;
	text-align: right;
	color: #000;
	padding: 10px;
}
.dropdown_first a:hover{
	background: rgba(0,0,0,0.5);
	border-radius: 4px;
	color: #fff;
}
.dropdown_first li{
	display: block;
	height: 40px;
	padding: 10px;
	padding: 20px 25px;
}
.dropdown_first{
	background: rgba(254,254,255,0.6);
	position: absolute;
	right: -170px;
	top: -30px;
	border-radius: 4px;
	padding: 0;
}
.dropdown_pay{
	margin:0;
	list-style: none;
}
.shown_part{
	text-decoration: none;
	color: rgba(254,254,255,0.8);
	display: inline-block;
	padding-right: 6px;
}
.shown_part:hover{
	color: #4ECE7F;
}
.dropdown_first{
	display: none;
}
.dropdown_pay>li:hover .dropdown_first{
	display: block;
}
.third_row{
	padding-top: 16px;
}
.forth_row{
	padding: 8px 0 0 0;
	clear: both;

}
.fifth_row{
	font-size: 14px;
	text-align: center;
	padding: 7px 0;
	font-weight: bold;
	clear: both;
}
input[type=submit]{
   width:412px;
   height: 42px;
   text-align: center;
   font-size: 18px;
   font-weight: bold;
   border-radius: 3px;
   background: #42b574;
   border: 0;
   padding: 0;
   color: #fff;
}
.sixth_row{
	margin: 0 auto;
	width: 412px;
}
.content{
	max-width: 1900px;
	margin: 0 auto;
	min-width: 590px;
}
.everywhere{
	display: block;
	max-width: 1900px;
	height: 426px;
	margin: -22px auto 0;
	padding: 90px 0 0 0;
	background: #fff;
}
.logo_everywhere{
	display: block;
	width: 130px;
	height: 130px;
	margin: 0 auto;
	background: url(../images/everywhere.png);
}
.header_everywhere{
	font-size: 60px;
	color: #9082bd;
	letter-spacing: 5px;
	font-weight: bold;
	margin: 0 auto; 
	text-align: center;
	padding-top: 32px;
}
.text_everywhere{
	color: #000;
	padding-top: 38px;
	font-size: 25px;
	font-weight: 300;
	width: 580px;
	text-align: center;
	margin: 0 auto;
	line-height: 36px;
}
.instant{
	max-width: 1900px;
	margin: 0 auto;
	height: 545px;
	background: linear-gradient(to left,#8f84be,#78ccf1);
	padding-top: 120px;
}
.logo_instant{
	background: url(../images/instant.png) no-repeat;
	width: 410px;
	height: 126px;
	margin: 0 auto;
}
.header_instant{
	font-size: 60px;
	color: #feffff;
	letter-spacing: 5px;
	font-weight: bold;
	margin: 0 auto; 
	text-align: center;
	padding-top: 32px;
}
.text_instant{
	color:#fff;
	padding-top: 38px;
	font-size: 25px;
	font-weight: 300;
	width: 580px;
	text-align: center;
	margin: 0 auto;
	line-height: 36px;
}
.free{
	display: block;
	max-width: 1900px;
	height: 550px;
	margin: 0 auto;
	padding: 90px 0 0 0;
	background: #fff;
}
.logo_free{
	background: url(../images/free.png);
	width:313px;
	height: 129px;
	margin: 0 auto;
}
.header_free{
	font-size: 60px;
	color: #42b574;
	letter-spacing: 5px;
	font-weight: bold;
	margin: 0 auto; 
	text-align: center;
	padding-top: 32px;
}
.text_free{
	color:#000;
	padding-top: 38px;
	font-size: 25px;
	font-weight: 300;
	width: 580px;
	text-align: center;
	margin: 0 auto;
	line-height: 36px;
}
.image_1{
	display: block;
	background: url(../images/couple.jpg);
	max-width:1900px;
	height: 608px;
	text-align: center;
	background-position: center center;
}
.secure{
	display: block;
	max-width: 1900px;
	margin: 0 auto;
	height: 566px;
	padding: 90px 0 0 0;
	background: #fff;
}
.logo_secure{
	background: url(../images/secure.png)  top center;
	width:129px;
	height: 129px;
	margin: 0 auto;
}
.header_secure{
	font-size: 60px;
	color: #64aadd;
	letter-spacing: 5px;
	font-weight: bold;
	margin: 0 auto; 
	text-align: center;
	padding-top: 32px;
}
.text_secure{
	color:#000;
	padding-top: 38px;
	font-size: 25px;
	font-weight: 300;
	width: 580px;
	text-align: center;
	margin: 0 auto;
	line-height: 36px;
}
.insured{
	max-width: 1900px;
	margin: 0 auto;
	background: linear-gradient(to left,#42b574,#adce39);
	height:606px;
	padding-top: 90px;
}
.logo_insured{
	background: url(../images/insure.png);
	width:129px;
	height: 129px;
	margin: 0 auto;
}
.header_insured{
	font-size: 60px;
	color: #fff;
	letter-spacing: 5px;
	font-weight: bold;
	margin: 0 auto; 
	text-align: center;
	padding-top: 32px;
}
.text_insured{
	color:#fff;
	padding-top: 38px;
	font-size: 25px;
	font-weight: 300;
	width: 580px;
	text-align: center;
	margin: 0 auto;
	line-height: 36px;
}
.friendly{
	max-width: 1900px;
	margin: 0 auto;
	height: 540px;
	padding-top: 90px;
	background: #fff;
}
.logo_friendly{
	background: url(../images/friendly.png);
	display: block;
	width: 129px;
	height: 130px;
	margin: 0 auto;
}
.header_friendly{
	font-size: 60px;
	color: #9083bb;
	letter-spacing: 5px;
	font-weight: bold;
	margin: 0 auto; 
	text-align: center;
	padding-top: 32px;
}
.text_friendly{
	color:#000;
	padding-top: 38px;
	font-size: 25px;
	font-weight: 300;
	width: 580px;
	text-align: center;
	margin: 0 auto;
	line-height: 36px;
}
.image_2{
	display: block;
	max-width: 1900px;
	height: 708px;
	margin: 0 auto;
	background: url(../images/girl.jpg);
	background-position: center center;
}
.why_bitcoin{
	max-width: 1900px;
	margin: 0 auto;
	height: 520px;
	padding-top: 90px;
	background: #fff;
}
.logo_why_bitcoin{
	background: url(../images/why_bitcoin.png);
	display: block;
	width: 129px;
	height: 130px;
	margin: 0 auto;
}
.header_why_bitcoin{
	font-size: 60px;
	color: #42b675;
	letter-spacing: 5px;
	font-weight: bold;
	margin: 0 auto; 
	text-align: center;
	padding-top: 32px;
}
.text_why_bitcoin{
	color:#000;
	padding-top: 38px;
	font-size: 25px;
	font-weight: 300;
	width: 580px;
	text-align: center;
	margin: 0 auto;
	line-height: 36px;
}
.green_strip{
	display: block;
	max-width: 1900px;
	margin: 0 auto;
	height: 6px;
	background:#8ec64b;
}
.footer{
	display: block;
	height: 88px;
	max-width: 1900px;
	margin: 0 auto;
	min-width: 590px;
	padding-right: 82px;
	background: #fff;
}
.contacts{
	float: left;
	padding:30px 0 0 74px;
}
.contacts li{
	display: inline-block;
	list-style: none;
	color: rgba(33,33,33,0.6);
}
.contacts ul{
	margin: 0;
	padding:0;
}
.contacts a{
	display: block;
	width: 20px;
	height: 20px;
	margin: 0 10px ;
}
.facebook{
	background: url(../images/socials/fb.png) no-repeat;
	margin-top: 3px;
}
.twitter{
	background: url(../images/socials/tw.png) no-repeat;
}
.in{
	background: url(../images/socials/in.png) no-repeat;
}
.cont_text{
	height: 33px;
	vertical-align: top;
	font-size: 13px;
}
.facebook, .twitter, .in{
	margin-top: 10px;
}
.copyright{
	float: right;
	color: #000;
	font-size: 10px;
	margin: 35px 15px 0 0;
}
.policy{
	float: right;
	font-size: 10px;
	margin: 35px 15px 40px 0;
}
.policy a{
	text-decoration: none;
	color: rgba(33,33,33,0.6);
}